.nav-color {
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-color: #3877ED;
}
  50%{
    background-color: #1351C4;
  }
  100% {
    background-color: #3877ED;
  }
}
body {
    font: 'Open Sans'
}
.pcontent{
  font-size: 4vw;
}
.leftNav{
  padding-left: 60px; !important
}
.rightNav{
  padding-right: 60px; !important
}
